/* Genel sayfa */
body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

/* Kart */
.card {
  background: #1e1e1e;
  color: #ffffff;
  width: 360px;
  padding: 25px;
  border-radius: 16px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.5);
  text-align: center;
}

.card > * { margin-bottom: 12px; }
/* Başlıklar */
.card h1 {
  margin-top: 0;
  font-size: 26px;
  color: #ffffff;
}

.card h2 {
  margin-top: 30px;
  font-size: 20px;
  color: #00ffd5;
}

/* Paragraflar */
.card p {
  color: #ffffff;
  font-size: 16px;
}



/* Liste */
.card ul {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.card ul li {
  margin: 8px 0;
}

/* Link */
.card a {
  color: #00ffd5;
  text-decoration: none;
}

.card a:hover {
  text-decoration: underline;
}

/* Buton */
button {
  margin-top: 15px;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  background: #00ffd5;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #00c9aa;
  transform: scale(1.05);
}

/* Mobil */
@media (max-width: 600px) {
  .card {
    width: 100%;
    margin: 20px;
  }
}









